-
	content = [
		{
			mod: true,
			list:	[, 'MY NAME IS', 'VLAD'],
			list: [
				{
					title: 'HELLO,',
				},
				{
					title: 'MY NAME IS',
				},
				{
					title: 'VLAD',
					mod: 'hero_list__item_span--stroke'
				}
			],
		},
		{
			mod: true,
			list: [
				{
					title: 'I AM',
				},
				{
					title: 'FRONT-END',
					mod: 'hero_list__item_span--stroke'
				},
				{
					title: 'DEVELOPER',
				}
			],
		},
		{
			mod: true,
			list: [
				{
					title: '4+',
				},
				{
					title: 'years of',
				},
				{
					title: 'Experience',
					mod: 'hero_list__item_span--stroke'
				}
			],
		},
		{
			mod: true,
			list: [
				{
					title: 'More',
				},
				{
					title: 'than 20+',
					mod: 'hero_list__item_span--stroke'
				},
				{
					title: 'projects',
				}
			],
		},
		{
			mod: true,
			list: [
				{
					title: 'WELCOME',
				},
				{
					title: 'TO MY',
				},
				{
					title: 'PORTFOLIO',
					mod: 'hero_list__item_span--stroke'
				}
			],
		},
	]

section.section.hero
	.section_in.js-hero-in
		.hero__content
			ul.hero_list.js-hero-list
				each item in content
					li.hero_list__item.js-hero-item(class= item.mod ? 'hero_list__item--hidden_mod' : '')
						each word in item.list
							span(class= word.mod)!= word.title
		a.hero__icon.hero__icon--opacity_mod.js-hero-arrow(href='#')
			.hero__icon_w
				+icon('arrow', 'icon--size_mod')
		//- - var n = 0;
		//- while n < 1000
		//- 	img(src="images/news_1.jpg", alt=`${n++}`)


