.lines_grid
	.lines_grid__in
		ul.lines_grid__list
			li.lines_grid__item.lines_grid__item--animate
			li.lines_grid__item.lines_grid__item--animate
			li.lines_grid__item.lines_grid__item--animate
			li.lines_grid__item.lines_grid__item--animate
			li.lines_grid__item.lines_grid__item--animate
			li.lines_grid__item.lines_grid__item--animate
			li.lines_grid__item.lines_grid__item--animate
			li.lines_grid__item.lines_grid__item--animate
			li.lines_grid__item.lines_grid__item--animate
