.swiper-button-disabled {
	opacity: .3;

	pointer-events: none;
}

.breadcrumbs {
	position: relative;
	z-index: 15;

	display: flex;
	align-items: center;

	a {
		font-size: 1.2rem;

		color: #a4a4a4;

		transition: color .3s ease-in-out;

		&:hover {
			// color: $orange;
		}
	}

	@include bp($point_4 - 1) {
		margin-top: 2rem;
		margin-bottom: -1.8rem;

		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
	}
}

.breadcrumbs__icon {
	width: .5rem;
	height: .5rem;
	margin-left: 1rem;
	margin-right: 1rem;

	// color: $gray_4;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
	z-index: 1001;

	display: flex;
  width: 3rem;
  height: 3rem;

	color: $gray_4;

  border-radius: 50%;
	border: 1px solid currentColor;

	transform: translate(-50%, -50%);
	pointer-events: none;

	filter: drop-shadow(0 0 15px rgba($white, .65));

	&::before {
		content: '';
		display: block;
		margin: auto;

		border-radius: 50%;
		border: 1px solid currentColor;

		width: .5rem;
		height: .5rem;
	}

	@include bp($point_4 - 1) {
		display: none;
	}
}

.element_anim {
	transition: opacity .7s ease-in-out, transform .7s ease-in-out;
}

.element_anim--hidden {
	transform: translateY(100%);
	opacity: 0;
}

.main_title {
	font-family: $Russo;
	-webkit-text-stroke: 2px $white;
	letter-spacing: .05em;

	color: transparent;

	@include bp($point_0, min) {
		font-size: 10rem;
	}

	@include bp($point_0 - 1, $point_2) {
		font-size: 6rem;
	}

	@include bp($point_3) {
		font-size: 4rem;
	}
}
