mixin aside(data)
	.aside.js-aside.aside--hidden_mod
		.aside__menu_overlay
		.aside_burger.js-burger-triger
			span.aside_burger__decor
		nav.aside_nav
			ul.aside_list
				each item in data.list
					li.aside_list__item
						a(href= item.link)!= item.title
